<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Abas, Allan, Angel, Chayton, Ted">
    <title>Eco-Eats Extension</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom stylesheets -->
    <link href="../static/cover.css" rel="stylesheet">
    <link href="../static/about.css" rel="stylesheet">

    <!-- Favico -->
    <link rel="shortcut icon" href="../static/ecoeats favicon.ico">

    <!-- Smooth Scroll in jQuery for cross browser compatibility -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  </head>
  <body class="text-center">
    <div id = "home"></div>
    <div class = "container">

      <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <img src="../static/EcoEats-Icon.png" id="logo" class="masthead-brand"/>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link " href="/">Home</a>
            <a class="nav-link" href="/#about">About</a>
            <a class="nav-link" href="https://github.com/chaytanc/ecoEats">Download</a>
          </nav>
        </div>
      </header>

      <div class="inner cover">
        <h1 class="cover-heading">Uh oh!</h1>
        <p class="lead">404: Page not found</p>
        <p class="lead">
          <a href="/" class="btn btn-lg btn-secondary">Back to Home</a> <!-- Since this is flask, we can simply route to /, which returns index.html -->
        </p>
      </div>

      <div class="mastfoot mt-auto">
        <div class="inner">
          <p>Made by <a href="https://github.com/abis206">Abas</a>,
          	 <a href="https://github.com/allandao">Allan</a>,
           	 <a href="https://github.com/AngelMcCrary-Lupson">Angel</a>,
             <a href="https://github.com/chaytanc">Chaytan</a> and
             <a href="https://github.com/ironowl-txw">Ted</a> for
             <a href="https://dubhacks.co">Dubhacks 2020</a>.</p>
        </div>
      </div>

      </div>

    </div>
</body>
</html>
