<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Abas, Allan, Angel, Chayton, Ted">
    <title>Eco-Eats</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="../static/about.css" rel="stylesheet">
    <link href="../static/table.css" rel="stylesheet">

    <link rel="shortcut icon" href="../static/ecoeats favicon.ico">

 </head>
  <body class="text-center">
    <div class = "container">
      <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <a href="/"><img src="../static/EcoEats-Icon.png" id="logo" class="masthead-brand"/></a>
          <nav class="nav nav-masthead justify-content-center">
            <!--<a class="nav-link active" href="#">Home</a>-->
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link" href="/#about">About</a>
            <a class="nav-link" href="#">Download</a>
          </nav>
        </div>
      </header>

    <h1 id="food-name">Food Data Not Avaliable</h1>

    <table class="table table-striped" id="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Cause</th>
          <th scope="col">Greenhouse Emmisions (Kg CO2 - equivalents per kg product)</th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Land Use Change</td>
          <td id="land">0.0</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Animal Feed</td>
          <td id="feed">0.0</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Farm</td>
          <td id="farm">0.0</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Processing</td>
          <td id="processing">0.0</td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>Transport</td>
          <td id="transport">0.0</td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td>Packaging</td>
          <td id="packaging">0.0</td>
        </tr>
        <tr>
          <th scope="row">7</th>
          <td>Retail</td>
          <td id="retail">0.</td>
        </tr>
        <tr>
          <th scope="row">8</th>
          <td>Total Emissions</td>
          <td id="total">0.</td>
        </tr>
        <!--<tr>-->
        <!--  <th scope="row">9</th>-->
        <!--  <td>Eutrophying Emissions</td>-->
        <!--  <td id="eutro">0.1</td>-->
        <!--</tr>-->
      </tbody>
    </table>
    <p>For reference: 1 tree can absorb as much as 22 Kg of CO2 per year</p>

    <script type="text/javascript" src="../static/table.js" defer></script>

  </body>
</html>





